.fa-chevron-down{
  transform: rotateZ(0deg);
  transition: transform 0.65s linear;
  margin:auto;
  margin-right: 20px;
  margin-left: 40px;
  font-weight: bold;
  font-size:18px;
}

.fa-chevron-down.open{
  transform: rotateZ(180deg);
  transition: transform 0.65s linear;
  margin:auto;
  margin-right: 20px;
  margin-left: 40px;
  font-weight: bold;
  font-size:18px;
}

/* Bên trên là hiệu ứng xoay mũi tên profile */

.card{
  width:562px;
  visibility: hidden;
  -webkit-transform:translateY(-100%);
  -moz-transform:translateY(-100%);
  transform:translateY(-3%);
  -webkit-transition: all 0.65s linear;
  -moz-transition: all 0.65s linear;
  transition: all 0.65s linear;
}

.card.open{
  width:562px;
  visibility: visible;
  -webkit-transform:translateY(50px);
  -moz-transform:translateY(50px);
  transform:translateY(15px);
  -webkit-transition: all 0.65s linear;
  -moz-transition: all 0.65s linear;
  transition: all 0.65s linear;
}
